{% extends 'template.html'%}
{% load static %}


{% block content%}
<main>
    <div class="historia_titulo">
        <h1>Nuestra <span class="resaltado">Historia</span></h1>
        <div class="page_map">
            <a href="{% url 'index'%}"><i class="fa-solid fa-house"></i>Inicio</a><i class="fa-solid fa-angle-right"></i><a href="{% url 'historia'%}">Historia</a>
        </div>
        
    </div>
    <div class="parallax_imagen">

    </div>
    <div class="historia_main_container">

        <div class="historia_container">
    
            <div class="subtitulo_historia">
                <h2> esto es un subtitulo</h2>
            </div>
            
        
            <div class="historia_contenido">
            <p>
            El primer lenguaje de programación fue un algoritmo creado por Ada Lovelace en 1883. Ada Lovelace creó este algoritmo para el motor analítico de Charles Babbage. <br />
            El propósito de este algoritmo era calcular los números de Bernoulli. Pero quien realmente influyó en el diseño de los primeros computadores fue Charles Babbage (1793-1871).
            Con la colaboración de la hija de Lord Byron, Lady Ada Countess of Lovelace(1815-1852), 
            a la que debe su nombre el lenguaje ADA creado por el DoD (Departamento de defensa de Estados Unidos) en los años 70. 
            Babbage diseñó y construyó la "máquina diferencial" para el cálculo de polinomios. Más tarde diseñó la "máquina analitica"
            de propósito general, capaz de resolver cualquier operación matemática. Murió sin poder terminarla, 
            debido al escepticismo de sus patrocinadores y a que la tecnología de la época no era lo suficientemente avanzada.
             Un equipo del Museo de las Ciencias de Londres, en 1991, consiguió construir la máquina analítica de Babbage, totalmente funcional, 
             siguiendo sus dibujos y especificaciones.
           </p>
           <div class="historia_imagen">
            <img src=" {% static '/IMG/images/new-image.jpg' %}" alt="">
            </div>
            <div class="subtitulo2_historia">
                <h3> esto es un subtitulo nivel 2</h3>
            </div>
           <p>
            Mas adelante en el 2011 hice varios cursos tecnicos como son: Digitacion, Paquetes de oficinas(Word, Excel,
            PowerPoint y Manejador de Internet),<br />
            Electricidad Recidencial, Embobinado y Electricidad industrial.
            el 2 de febrero del 2014 decidi viajar hacia santo Domingo en busca de empleo <br />
            para asi incribirme posteriormente en una Universidad, un mes despues entre a trabajar
            el 5 de marzo del 2014 en Grupo Ramos tienda "Super Pola" <br />
            como auxiliar de frutas y vegetales,en el año 2015 dia 6 de julio me ascendieron a auxilir de Etiqueta y señalizaciones(POP) donde hasta la fecha trabajo.<br />
            Mas adelante Egrese a la Universidad Autonoma de Santo Domingo(UASD), donde opte por estudiar informatica
           </p>  
           <p>
            Mas adelante mientras culmina mis estudios universitarios realizare varios cursos tales como
            Ingles por Inmersion, CCNA Switching and Routing, Programacion en JavaScript
            y Programacion en PHP.
           </p>
            </div>
            
        </div>   
        <div class="more_info">
            <div class="more_info_content">
                <div class="more_info_section">

                    <ul>
                        <li><h3>Mas Informaciones:</h3></li>
                        <li><a href="">Historia</a></li>
                        <li><a href="">Vision</a></li>
                        <li><a href="">Valores</a></li>
                        <li><a href="">Mensaje del Presidente</a></li>
                    </ul>
                </div>
                <div class="more_info_section">

                    <ul>
                        <li><h3>Otras Informaciones:</h3></li>
                        <li><a href="{% url 'noticias'%}">Noticias</a></li>
                        <li><a href="">Eventos</a></li>
                        <li><a href="">Valores</a></li>
                        <li><a href="">Mensaje del Presidente</a></li>
                    </ul>
                </div>
                
                
                
            </div>
        </div>
    </div>
  
</main>
{% endblock %}