{% extends 'template.html'%}
{% load static %}


{% block content%}
<main>
    <div class="historia_titulo">
        <h1>Nuestra <span class="resaltado">Historia</span></h1>
        <div class="page_map">
            <a href="{% url 'index'%}"><i class="fa-solid fa-house"></i>Inicio</a><i class="fa-solid fa-angle-right"></i><a href="{% url 'historia'%}">Historia</a>
        </div>
        
    </div>
    <div class="parallax_imagen">

    </div>
    <div class="body_content">

        <div class="historia_main_container">
    
            <div class="historia_container">
        
                <div class="subtitulo_historia">
                    <h2> <br> Cooperativa Nacional de Bomberos</h2>
                </div>
                
            
                <div class="historia_contenido">
                <p>
                    El cuerpo benemérito de los bomberos del país han dado un paso fundamental con la creación de su Cooperativa Nacional de Bomberos (COOPNABOMBEROS),  tras su celebró primera recientemente su Asamblea constitutiva.
               </p>
               <p>
                En el encuentro se juramentó su Consejo de Administración. presidido por el jefe de la guardia  voluntaria del  cuerpo  de Bomberos de Santo Domingo Norte (SDN), coronel Gregory Reyes; en tanto que su vicepresidente es el capitán Severino Rodríguez.
               </p>
               <div class="historia_imagen">
                <img src=" {% static '/IMG/images/new-image2.jpg' %}" alt="">
                <p>coronel Gregory Reyes;, presidente del Consejo de Administracion de COOPNABOMBEROS</p>
                </div>
                <div class="subtitulo2_historia">
                    <h3></h3>
                </div>
               <p>
                Méndez Pérez, destacó la ardua labor que realizan los bomberos de todo el país, y específicamente de este municipio,  de quienes  dijo se entregan sin reservas a la difícil labor de salvar vidas y propiedades; pese a las precariedades con que laboran estos héroes anónimos, de todo el país. Puso el ejemplo a los tres bomberos que murieron tratando de sofocar un incendio en Casa Mora, en La Vega.
               </p>  
               <p>
                “Mi admiración y respeto a todos los bomberos del país, y específicamente a los del municipio Santo Domingo Norte, quienes sin importar las precariedades en que funcionan la mayoría de los cuerpos de bomberos en todo el país, se entregan sin reservas a salvar vidas y propiedades, son nuestros héroes anónimos”  asevero el presidente de CONACOOP.
               </p>
               <p>
                En la actividad, que se celebró el día Mundial del Ahorro, también estuvieron presentes, la técnica del Instituto de Desarrollo y Crédito Cooperativo (IDECOOP), Natividad Carvajal y otros directivos de esa entidad.
               </p>
                </div>
                
            </div>   
            <div class="more_info">
                <div class="more_info_content">
                    <div class="more_info_section">
    
                        <ul>
                            <li><h3>Mas Informaciones:</h3></li>
                            <li><a href="">Historia</a></li>
                            <li><a href="">Vision</a></li>
                            <li><a href="">Valores</a></li>
                            <li><a href="">Mensaje del Presidente</a></li>
                        </ul>
                    </div>
                    <div class="more_info_section">
    
                        <ul>
                            <li><h3>Otras Informaciones:</h3></li>
                            <li><a href="{% url 'noticias'%}">Noticias</a></li>
                            <li><a href="">Eventos</a></li>
                            <li><a href="">Valores</a></li>
                            <li><a href="">Mensaje del Presidente</a></li>
                        </ul>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>
        <div class="link_volver">

            <a href="{% url 'index' %}">Volver a Inicio</a>
        </div>
    </div>
  
</main>
{% endblock %}