{% extends 'template.html'%}
{% load static %}


{% block content%}
<style>
    #slide1{
        background-image: url({{evento1.foto.url}});
    }
    #slide2{
        background-image: url({{evento2.foto.url}});
    }
    #slide3{
        background-image: url({{evento3.foto.url}});
    }
    #slide4{
        background-image: url({{evento1.foto.url}});
    }
</style>
<main>
    <div class="banner">
        <div class="contenedor">
            <div class="slider-contenedor">
                
                <section class="contenido-slider" id="slide1" >
                    <div >
                        <h2>{{evento1.titulo}}</h2>
                        <a href="#">Ver mas...</a>
                    </div>
                
                </section>
                <section class="contenido-slider" id="slide2">
                    <div >
                        <h2>{{evento2.titulo}}</h2>
                        <a href="#">Ver mas...</a>
                    </div>
                    
    
                </section>
            <section class="contenido-slider" id="slide3">
                <div>
                    <h2>{{evento3.titulo}}</h2>
                    <a href="#">Ver mas...</a>
                </div>
                <script src="{% static 'JS/main.js'%}"></script>
    
            </section>
            <section class="contenido-slider" id="slide4">
                <div>
                    <h2>{{evento1.titulo}}</h2>
                    <a href="#">Ver mas...</a>
                </div>
                
    
            </section>
        </div>
        </div>
        
    </div>

    <div class="main_info">
        <div class="main_info_container">
            <div class="main_info1_container">
                <div class="info1">
                    
                   <a class="full_link" href="https://www.google.com">

                    <i class="fa-solid fa-money-bill-wave"></i>
                       <h2>Calcula tus prestamos</h2>
                       <p>Lorem ipsum dolor sit amet 
                           consectetur adipisicing elit. At dolor 
                           voluptatum suscipit
                            dignissimos totam aperiam ducimus
                             natus libero, cumque vitae.</p>
                       
                       <p class="btn">Calcular prestamos</p>
                   </a>
                </div>
            </div>

           

            <div class="main_info1_container">
                <div class="info1">
                    
                   <a class="full_link" href="{% url 'login'%}">

                    <i class="fa-solid fa-user-tie"></i>
                       <h2>Afiliate a Nosotros</h2>
                       <p>Lorem ipsum dolor sit amet 
                           consectetur adipisicing elit. At dolor 
                           voluptatum suscipit
                            dignissimos totam aperiam ducimus
                             natus libero, cumque vitae.</p>
                       
                       <p class="btn">Hacerse socio ahora</p>
                   </a>
                </div>
            </div>
        </div>
    </div>
    
    
    
</main>


<section class="servicios">
    <div class="servicios_inner">

        <h2>Servicios</h2>
        <h3>¿Como podemos ayudarte?</h3>
        <div class="cards_container">
            <div class="card2">
                <div class="icon">
                    <i class="fa-solid fa-piggy-bank"></i>
                </div>
    
                <h3>Ahorros</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, odit!</p>
                <a href="#">Ver mas...</a>
            </div>
            
            <div class="card2">
                <div class="icon">
                    <i class="fa-solid fa-sack-dollar"></i>
                </div>
                
                <h3>Prestamos</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, odit!</p>
                <a href="#">Ver mas...</a>
            </div>
            
            
            <div class="card2">
                <div class="icon">
                    <i class="fa-solid fa-briefcase"></i>
                </div>
                
                <h3>Programa Emprende</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, odit!</p>
                <a href="#">Ver mas...</a>
            </div>

            
            
        </div>
    </div>
</section>


<section>
    <div class="full_section">

        <div class="full_section_container">
            <div class="text_container">
                <h2> Quienes Somos</h2>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, aliquid vel consectetur doloremque mollitia eaque!</h3>
                <p>Para la Cooperativa San José, es trascendental que nuestros asociados se sientan a gusto con el trato que reciben de nuestros colaboradores. Satisfacer sus necesidades es nuestra  prioridad, porque forman parte de nosotros.
                    Uno de nuestros objetivos es lograr una gestión administrativa y financiera eficiente, en donde las personas de menos recursos tengan la oportunidad de acceder a servicios financieros confiables y competitivos, con el fin de mejorar su calidad de vida, contribuyendo con su educación, desarrollo económico y social.    
                    
                </p>
                <p> Gracias por elegirnos y confiar en nosotros, bienvenido(a) a Tú Cooperativa.</p>
                <div class="text_ver">
                    <a href="#">Ver mas...</a>
                </div>
                
            </div>
            <div class="section_image_container">
                <img src="{% static 'IMG/images/full_section_example_image.jpg' %}" alt="imagen_section_principal">
            </div>
            
        </div>   
    </div>

</section>
<section>
    <div class="news_container">
        <div class="news_title_main">
            <a href=" {% url 'noticias'%}"><h2>ULTIMAS NOTICIAS</h2></a>
        </div>
        <div class="main_new_container" style="background-image: url({{noticia1.foto.url}});">
            <div class="main_new_inner">
                
                <div class="main_new_title">
                    <a href=""><h2>{{noticia1.titulo}}</h2></a>
                </div>
                <div class="main_new_details">
                    <p class="detalles">{{noticia1.contenido|truncatewords:50}}</p>
                </div>
                <div class="news_continue">
                    <a href="">seguir leyendo...</a>
                </div>
            </div>
            
        </div>
        <div class="news_cards_container">
            <div class="news">
                <div class="news_image">
                    <img src={{noticia2.foto.url}} alt="img_noticias">
                </div>

                <div class="news_title">
                    <a href=""> <h3>{{noticia2.titulo}}</h3></a>
                </div>

                <div class="news_content">
                    <p>{{noticia2.contenido|truncatewords:50}}</p>
                </div>
                <div class="news_continue">
                    <a href="">seguir leyendo</a>
                </div>

            </div>
            <div class="news">
                <div class="news_image">
                    <img src={{noticia3.foto.url}} alt="img_noticias">
                </div>

                <div class="news_title">
                    <a href=""> <h3>{{noticia3.titulo}}</h3></a>
                </div>

                
                <div class="news_content">
                    <p>{{noticia3.contenido|truncatewords:50}}</p>
                </div>
                <div class="news_continue">
                    <a href="">seguir leyendo</a>
                </div>

            </div>
            <div class="news">
                <div class="news_image">
                    <img src={{noticia4.foto.url}} alt="img_noticias">
                </div>

                <div class="news_title">
                    <a href=""> <h3>{{noticia4.titulo}}</h3></a>
                </div>

                
                <div class="news_content">
                    <p>{{noticia4.contenido|truncatewords:50}}</p>
                </div>
                <div class="news_continue">
                    <a href="">seguir leyendo</a>
                </div>

            </div>
            
            

        </div>
    </div>
</section>




{% endblock %}



