
{% extends 'template.html'%}
{% load static %}


{% block content%}
<main>
    <div class="mision_titulo">
        <h1>Nuestra <span class="resaltado">Mision</span></h1>
        <div class="page_map">
            <a href="{% url 'index'%}"><i class="fa-solid fa-house"></i>Inicio</a><i class="fa-solid fa-angle-right"></i><a href="{% url 'historia'%}">Mision</a>
        </div>
        
    </div>
    <div class="parallax_imagen_mision">

        <div class="mision_main_container">
            
            <div class="mision_container">

                <div class="subtitulo_mision">
                    <h2>Misión</h2>
                </div>
                
            
                <div class="mision_contenido">
                        <p>
                            La Alianza Cooperativa Internacional defiende los intereses y el éxito de las cooperativas, y les proporciona una voz global y un foro de conocimiento, experiencia y acción coordinada.
                        </p>
                    <div class="mision_imagen">
                        <img src=" {% static '/IMG/images/new-image.jpg' %}" alt="">
                    </div>
                    <div class="subtitulo2_mision">
                        <h3> La unión del movimiento cooperativo internacional</h3>
                    </div>
                    <div class="subtitulo2_mision">
                        <h3>La ACI es un foro en el que se impulsa la cooperación entre cooperativas y permite:</h3>
                    </div>
                    
                    <ul>
                        <li>Desarrollar relaciones comerciales y asociaciones entre sus miembros</li>
                        <li>Organizar eventos regionales e internacionales donde las organizaciones se reúnen regularmente para compartir ideas</li>
                        <li>Proporcionar instrumentos de apoyo y difundir conocimientos</li>
                        <li>Facilitar programas de formación, eventos y publicaciones desarrolladas en colaboración con agencias de desarrollo cooperativo</li>
                    </ul>
                    <div class="subtitulo2_mision">
                        <h3> La promoción de la diferencia cooperativa</h3>
                    </div>
                    <p>
                        Elaborar las normas mínimas cooperativas o los denominadores comunes ha sido siempre parte de la misión fundamental de la ACI desde su creación. Está actividad está intrínsecamente vinculada al campo de la legislación, ya que la regulación nacional que afecta a las cooperativas debe estar dirigida, ante todo, a proteger la identidad cooperativa.
                    </p>
                    <p>La ACI representa y promueve la especificidad cooperativa en los medios de comunicación y en organizaciones multilaterales, como las Naciones Unidas, la Organización Internacional del Trabajo, Organización de las Naciones Unidas para la Alimentación y la Agricultura, el Fondo Internacional de Desarrollo Agrícola, la Junta de Normas Internacionales de Contabilidad y el B20, entre otros.</p>
                </div>
                
            </div>   
            <div class="more_info">
                <div class="more_info_content">
                    <div class="more_info_section">
    
                        <ul>
                            <li><h3>Mas Informaciones:</h3></li>
                            <li><a href="{% url 'mision' %}">Mision</a></li>
                            <li><a href="">Vision</a></li>
                            <li><a href="">Valores</a></li>
                            <li><a href="">Mensaje del Presidente</a></li>
                        </ul>
                    </div>
                    <div class="more_info_section">
    
                        <ul>
                            <li><h3>Otras Informaciones:</h3></li>
                            <li><a href="{% url 'noticias'%}">Noticias</a></li>
                            <li><a href="">Eventos</a></li>
                            <li><a href="">Valores</a></li>
                            <li><a href="">Mensaje del Presidente</a></li>
                        </ul>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div >

        
        
    </div>
  
</main>
{% endblock %}