{% extends 'template.html'%}
{% load static %}


{% block content%}
<div class="login_page_body">

    <div class="marco_contenido">
      <div class="form_logo_container">
        <img src="{% static 'IMG/logo2.bmp'%}" alt="">
      </div>
      
        <div class="form_container">
        
            <p>Se ha reestablecido su contraseña correctamente</p>
        
            <div class="login-btn">
              <a href="{% url 'login' %}"> logearse</a>
              
            </div>
            
        </div>
    </div>
  </div>


{% endblock %}