{% extends 'template.html'%}
{% load static %}


{% block content%}

<div class="login_page_body">

  <div class="marco_contenido">
    <div class="form_logo_container">
      <img src="{% static 'IMG/logo2.bmp'%}" alt="">
    </div>
    
    <div class="form_container">
    
      
      
      {% if next %}
          {% if user.is_authenticated %}
          <p>Tu cuenta no tiene acceso a esta pagina. Para proceder, por favor loguearse con una cuenta con acceso.</p>
          {% else %}
          <p>Por favor logueate para ver esta pagina.</p>
          {% endif %}
      {% endif %}
      
      <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <table>
        
        <tr>
          <td class="form_label">Tu Email:</td>
          <td class="form_input"><p>{{ form.email }}</p></td>
        </tr>
      </table>
      <div class="error_msg">
        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
      
      </div>
      
      <div class="login-btn">
        <input type="submit" value="Restablecer " />
        
      </div>
      </form>
      
     
      <a href="{% url 'login' %}"> volver</a>
      
    </div>
  </div>
</div>

{% endblock %}