{% extends 'template.html'%}
{% load static %}


{% block content%}
<div class="login_page_body">

    <div class="marco_contenido">
      <div class="form_logo_container">
        <img src="{% static 'IMG/logo2.bmp'%}" alt="">
      </div>
      
        <div class="form_container">
        
            <p>Hemos enviado un correo con instrucciones para resetear su contraseña a su email, si no llega en unos cuantos minutos, revise su correo de Spam</p>
        
        
            
        </div>
    </div>
  </div>


{% endblock %}