{% extends 'template.html'%}
{% load static %}


{% block content%}

<div class="login_page_body">

    <div class="marco_contenido">
      <div class="form_logo_container">
        <img src="{% static 'IMG/logo2.bmp'%}" alt="">
      </div>
      
        <div class="form_container">
        
            Se solicito resetear la contraseña para el siguiente email: {{ email }}. 
            Si usted reconoce dicha solicitud, hage click en el siguiente enlace:
            {{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
            De lo contrario contacte a nuestro personal
        
        
            
        </div>
    </div>
  </div>


{% endblock %}