{% extends 'template.html'%}
{% load static %}


{% block content%}
<div class="login_page_body">

    <div class="marco_contenido">
      <div class="form_logo_container">
        <img src="{% static 'IMG/logo2.bmp'%}" alt="">
      </div>
      <div class="form_container">
            
        {% if validlink %}
        <p>Introduzca y confirme la contraseña.</p>
        <form action="" method="post">
            <div >
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nueva Contraseña:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmar Contraseña:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Cambiar Contraseña" /></td>
                </tr>
            </table>
        </form>
        {% else %}
        <h1>Fallo el reseteo de contraseña</h1>
        <p>El enlace de reseteo no era valido, por favor solicite el reseteo otra vez</p>
        {% endif %}
    </div>
      
    
  </div>
<div class="login_page_body">
    <div class="form_logo_container">
        
    </div>
</div>


{% endblock %}