{% extends 'template.html'%}
{% load static %}

{% block nav %}

    {% if user.is_authenticated %}
    <div class="user_header_info">

      <ul>
        <li><h3>Usuario: {{ user.get_username }}</h3></li>
        <li><a href="{% url 'logout'%}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar sesion </i></a></li>
      </ul>
    </div>
    
  {% else %}
    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %} 
 </ul>
</div>
{% endblock %}

{% block content%}
<div class="user_page_body">
  <div class="side-bar_container">
    <div class="sidebar">
      <ul>
        <li><a href="">solicitar afiliacion</a></li>
        <li><a href="">cuenta</a></li>
      </ul>
     
    </div>
  
  </div>

 
  <div class="user-content">
    <div class="aplication_form_container">
      <div class="form_section">
        <form action="" method="post">
          {% csrf_token %}
          <table>
            <th colspan="4"><h3>Informacion de beneficiario</h3></th>
            <input type="hidden" value="{{user.get_username }}" id="id_afiliado" name="afiliado">
            <tr>
              <td class="form_label">Nombre:</td>
              <td class="form_input1">{{form.nombre1}}</td>
            </tr>
            <tr>
              <td class="form_label">Segundo Nombre:</td>
              <td class="form_input1">{{form.nombre2}}</td>
            </tr>
            <tr>
              <td class="form_label">Apellido:</td>
              <td class="form_input1">{{form.apellido1}}</td>
            </tr>
            <tr>
              <td class="form_label">Segundo apellido:</td>
              <td class="form_input1">{{form.apellido2}}</td>
            </tr>
            <tr>
              <td class="form_label">Cedula:</td>
              <td class="form_input1">{{form.cedula}}</td>
              
            </tr>
            <tr>
              <td class="form_label">Parentezco</td>
              <td class="form_input1">{{form.parentezco}}</td>
            </tr>
            <tr>
              <td class="form_label">Telefeono:</td>
              <td class="form_input1">{{form.telefono}}</td>
            </tr>
            <tr>
              <td class="form_label">Porcentaje</td>
              <td class="form_input1">{{form.porcentaje}}</td>
            </tr>
            
          </table>
          <div class="login-btn">
            <input type="submit" value="continuar" />
            
          </div>
          
        </form>

      </div>
      

          
       

      
      {% if form.errors %}
      <div class="form_errors">
      <p>hubo errores al completar el formulario:</p>
          {% for field in form %}
          
              {% for error in field.errors %}
                  <p class="error">{{field.label}}{{ error|escape }}</p>
               {% endfor %}
            {% endfor %}
      </div>      
      {% endif %}
    </div>
    
  </div>
    

</div>
{% endblock %}