{% extends 'template.html'%}
{% load static %}

{% block nav %}

    {% if user.is_authenticated %}
    <div class="user_header_info">

      <ul>
        <li><h3>Usuario: {{ user.get_username }}</h3></li>
        
      </ul>
    </div>
    
  {% else %}
    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %} 
 </ul>
</div>
{% endblock %}
{% block content%}
<div class="user_page_body">
  <div class="side-bar_container">
    <div class="sidebar">
        <div class="more_info_section">
      
          <ul>
              <li><h3>Opciones de Usuario:</h3></li>
              <li><a href="{% url 'userIndex'%}">Informacion de solicitud</a></li>
              <a href="{% url 'userApplication2' %}">Agregar Beneficiario</a>
          </ul>
      </div>
      <div class="more_info_section">

          <ul>
              <li><h3>Opciones de Cuenta:</h3></li>
              <li><a href="{% url 'passwordChange' %}">Cambiar Contraseña</a></li>
              <li><a href="{% url 'logout'%}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar sesion </i></a></li>
          </ul>
      </div>
      
     
    </div>
  
  </div>
  <div class="user-content">
    {%if user_cantidad == 0  %}
    <div class="link_volver">

      <a href="{% url 'userApplication' %}">llenar formulario de solicitud</a>
  </div>
    {% else %}

    {% for info in user_info %}
    <div class="socio-info">
      

      <table>
        <tr>
          <th><h3>Estado de la solicitud:{{info.estado}} </h3> </th>
        </tr>
        <tr>
          <th>Informacion de usuario</th>
        </tr>
        <tr>
          <td class="form_label">Primer nombre:</td>
          <td >{{info.nombre1}}</td>
          
        </tr>
        <tr>
          <td class="form_label">Segundo nombre:</td>
          <td >{{info.nombre2}}</td>
        </tr>
         <tr>
          <td class="form_label">Primer apellido:</td>
          <td >{{info.apellido1}}</td>
          
        </tr>
        <tr>
          <td class="form_label">Segundo apellido:</td>
          <td >{{info.apellido2}}</td>
        </tr>
        
        <tr>
          <td class="form_label">sexo:</td>
          <td >{{info.sexo}}</td><td></td>
        </tr>
        
        <tr>
          <td class="form_label">Fecha de nacimiento:</td>
          <td >{{info.fechaNacimiento}}</td>
        </tr>
        <tr>
          <td class="form_label">Nacionalidad:</td>
          <td >{{info.nacionalidad}}</td>
        </tr>
        <tr>
          <td class="form_label">Cedula:</td>
          <td >{{info.cedula}}</td>
        </tr>
        
        <tr>
          <td class="form_label">Estado Civil:</td>
          <td >{{info.estadoCivil}}</td>
        </tr>
        
        
        <tr>
          <td class="form_label">Provincia:</td>
          <td >{{info.provincia}}</td>
          
        </tr>
        <tr>
          <td class="form_label">Municipio:</td>
          <td >{{info.municipio}}</td>
        </tr>
        <tr>
          <td class="form_label">Sector:</td>
          <td >{{info.sector}}</td>
       
        </tr>
        <tr>
          <td class="form_label">Celular:</td>
          <td >{{info.celular}}</td>
          
        </tr>
        <tr>
          <td class="form_label">Telefono:</td>
          <td >{{info.telefono}}</td>
        </tr>
        <th class="form_subtitle" colspan="2"><h3>Informacion Laboral:</h3></th>
        <tr>
          <td class="form_label">lugar de Trabajo:</td>
          <td >{{info.lugarTrabajo}}</td>
          
        </tr>
        <tr>
          <td class="form_label">Telefono de lugar de trabajo:</td>
          <td >{{info.telefonoLugarTrabajo}}</td>
          
        </tr>
        <tr>
          <td class="form_label">Cargo que desempeña:</td>
          <td >{{info.cargo}}</td>
          
        </tr>
        <th class="form_subtitle" colspan="2"><h3>Informacion Bancaria:</h3></th>
        <tr>
          <td class="form_label">Banco:</td>
          <td >{{info.banco}}</td>
          
        </tr>
        <tr>
          <td class="form_label">Numero de cuenta:</td>
          <td >{{info.numeroCuenta}}</td>
          
        </tr>
        
        <tr>
          <th class="form_subtitle" colspan="2"><h3>Informacion Instucion de Emergencia a la que pertenece:</h3></th>
        </tr>
        <tr>
          <td class="form_label" colspan="2">Instucion de Atencion a Emergencia:</td>
          
        </tr>
        <tr>
          <td colspan="2">{{info.institucionAtencionEmergencia}}</td>
        </tr>
        <tr>
          <td class="form_label">De:</td><td >{{info.ubicacion}}</td>
        </tr>
        <tr>
          <th class="form_subtitle" colspan="2"><h3>Aporte a la Cooperativa:</h3></th>
          
        </tr>
        <tr >
          <td class="aportes_info" colspan="2">la cantidad fija mensual de RD$: {{info.aporte}}
          </td>
          
        </tr>
        
          
      </table>
      <div class="btn-container">
        <div class="btn-info">
          <a href="{% url 'updateSocio' user.get_username %}"> Editar info</a>
        </div>
      </div>
    </div>
    {% endfor%}
    
     {% if bene_cantidad == 0 %} 
     
      <div class="link_volver">

        <a href="{% url 'userApplication2' %}">Agregar Beneficiario</a>
      </div>
      {% else %}
    <h3>Informacion de Beneficiarios:</h3>
    {% for beneficiario in beneficiario_info %}
    <div class="beneficiario_info">

      <table>
       
        <tr>
          <td class="form_label">Nombre:</td>
          <td >{{beneficiario.nombre1}}</td>
        </tr>
        <tr>
          <td class="form_label">Segundo Nombre:</td>
          <td >{{beneficiario.nombre2}}</td>
        </tr>
        <tr>
          <td class="form_label">Apellido:</td>
          <td >{{beneficiario.apellido1}}</td>
        </tr>
        <tr>
          <td class="form_label">Segundo apellido:</td>
          <td >{{beneficiario.apellido2}}</td>
        </tr>
        <tr>
          <td class="form_label">Cedula:</td>
          <td >{{beneficiario.cedula}}</td>
          
        </tr>
        <tr>
          <td class="form_label">Parentezco</td>
          <td >{{beneficiario.parentezco}}</td>
        </tr>
        <tr>
          <td class="form_label">Telefeono:</td>
          <td >{{beneficiario.telefono}}</td>
        </tr>
        <tr>
          <td class="form_label">Porcentaje</td>
          <td >{{beneficiario.porcentaje}}%</td>
        </tr>
        
      </table>
      
      <hr>
        <div class="btn-container">
          <div class="btn-info" >
              <a href="{% url 'deleteBeneficiario' beneficiario.id %}">eliminar beneficiario</a>
          </div>
          <div class="btn-info">
              <a href="{% url 'updateBeneficiario' beneficiario.id %}">editar beneficiario</a>
          </div>
            
        </div>
      
    </div>
    


  {% endfor%}
  
  
  {% endif %}
  {% endif %}  
 

 
  
    

</div>
{% endblock %}