{% extends 'template.html'%}
{% load static %}

{% block nav %}

    {% if user.is_authenticated %}
    <div class="user_header_info">

      <ul>
        <li><h3>Usuario: {{ user.get_username }}</h3></li>
        <li><a href="{% url 'logout'%}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar sesion </i></a></li>
      </ul>
    </div>
    
  {% else %}
    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %} 
 </ul>
</div>
{% endblock %}

{% block content%}
<div class="user_page_body">
  <div class="side-bar_container">
    <div class="sidebar">
      <ul>
        <li><a href="">solicitar afiliacion</a></li>
        <li><a href="">cuenta</a></li>
      </ul>
     
    </div>
  
  </div>

 
  <div class="user-content">
    <div class="aplication_form_container">
      <h2> formulario de solicitud de afiliacion</h2>
      <p>*complete el formulario para registrar su solicitud de afiliacion*</p>
      
      
      <form action="" method="post">
        {% csrf_token %}
        
        <div class="form_section">
          
          <table>
            
            <th class="form_subtitle" colspan="2"><h3>Informacion Personal</h3></th>
              {{form.estado}}
              <input type="hidden" value="{{user.get_username }}" id="id_usuario" name="usuario">
            <tr>
              <td class="form_label">Primer nombre:</td>
              <td class="form_input1">{{form.nombre1}}</td>
              
            </tr>
            <tr>
              <td class="form_label">Segundo nombre:</td>
              <td class="form_input1">{{form.nombre2}}</td>
            </tr>
             <tr>
              <td class="form_label">Primer apellido:</td>
              <td class="form_input1">{{form.apellido1}}</td>
              
            </tr>
            <tr>
              <td class="form_label">Segundo apellido:</td>
              <td class="form_input1">{{form.apellido2}}</td>
            </tr>
            
            <tr>
              <td class="form_label">sexo:</td>
              <td class="form_input1" >{{form.sexo}}</td><td></td>
            </tr>
            
            <tr>
              <td class="form_label">Fecha de nacimiento:</td>
              <td class="form_input1">{{form.fechaNacimiento}}</td>
            </tr>
            <tr>
              <td class="form_label">Nacionalidad:</td>
              <td class="form_input1">{{form.nacionalidad}}</td>
            </tr>
            <tr>
              <td class="form_label">Cedula:</td>
              <td class="form_input1">{{form.cedula}}</td>
            </tr>
            
            <tr>
              <td class="form_label">Estado Civil:</td>
              <td class="form_input1">{{form.estadoCivil}}</td>
            </tr>
            
            
            <tr>
              <td class="form_label">Provincia:</td>
              <td class="form_input1">{{form.provincia}}</td>
              
            </tr>
            <tr>
              <td class="form_label">Municipio:</td>
              <td class="form_input1">{{form.municipio}}</td>
            </tr>
            <tr>
              <td class="form_label">Sector:</td>
              <td class="form_input1">{{form.sector}}</td>
           
            </tr>
            <tr>
              <td class="form_label">Celular:</td>
              <td class="form_input1">{{form.celular}}</td>
              
            </tr>
            <tr>
              <td class="form_label">Telefono:</td>
              <td class="form_input1">{{form.telefono}}</td>
            </tr>
            <th class="form_subtitle" colspan="2"><h3>Informacion Laboral:</h3></th>
            <tr>
              <td class="form_label">lugar de Trabajo:</td>
              <td class="form_input1">{{form.lugarTrabajo}}</td>
              
            </tr>
            <tr>
              <td class="form_label">Telefono de lugar de trabajo:</td>
              <td class="form_input1">{{form.telefonoLugarTrabajo}}</td>
              
            </tr>
            <tr>
              <td class="form_label">Cargo que desempeña:</td>
              <td class="form_input1">{{form.cargo}}</td>
              
            </tr>
            <tr>
              <th class="form_subtitle" colspan="2"><h3>Informacion Instucion de Emergencia a la que pertenece:</h3></th>
            </tr>
            <tr>
              <td class="form_label" colspan="2">Instucion de Atencion a Emergencia:</td>
              
            </tr>
            <tr>
              <td colspan="2">{{form.institucionAtencionEmergencia}}</td>
            </tr>
            <tr>
              <td class="form_label">De:</td><td class="form_input1">{{form.ubicacion}}</td>
            </tr>
            <tr>
              <th class="form_subtitle" colspan="2"><h3>Aporte a la Cooperativa:</h3></th>
              
            </tr>
            <tr >
              <td class="aportes_info" colspan="2">Solicito ser admitido como socio de la Cooperativa de Ahorro, Credito y Servicios multiples
                Nacional de Bomberos (COOPNABOMBEROS), comprometiendome a cumplir con las normas establecidas en los estatutos y con los acuerdos que 
                posteriormente hayan sido tomados, ahorando en la cuenta de aportes, la cantidad fija mensual de RD$: {{form.aporte}}
              </td>
              
            </tr>
            
          </table>
        </div>
        

        <div class="login-btn">
          <input type="submit" value="continuar" />
          
        </div>
        
        
      </form>
      {% if form.errors %}
      <div class="form_errors">
      <p>hubo errores al completar el formulario:</p>
          {% for field in form %}
          
              {% for error in field.errors %}
                  <p class="error">{{field.label}}{{ error|escape }}</p>
               {% endfor %}
            {% endfor %}
      </div>      
      {% endif %}

    </div>
    
  </div>
    

</div>
{% endblock %}